<h1><%=@dog.name%></h1>
<hr>

<h3>Breed: <%=@dog.breed%></h3>
<h3>Age: <%=@dog.age%></h3>
<br>

<h3>Employees:</h3>
<ul>    
    <%@dog.employees.each do |e|%>
    <li> <%=e.first_name%> <%=e.last_name%></li>
    <%end%>


</ul>


